<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NittanyAuction Bids Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="dashboard-header">
        <h1>My Bids</h1>

        <div class="header-buttons">
            <button class="top-btn">Profile</button>
            <button class="icon-btn">
                <i class="fa-solid fa-bell"></i>
            </button>
            <button class="top-btn" style="background-color: #d9534f; color: white; border: none;" onclick="window.location.href='{{ url_for('logout') }}'">
              Logout
            </button>
            <a href="{{ url_for('bidder_dashboard') }}">
            <img
              src="{{ url_for('static', filename='images/psu-logo.png') }}"
              alt="Logo"
              class="dashboard-logo"
            />
            </a>
        </div>
    </div>

    <div class="dashboard-wrapper">
        <div class="dashboard-main">
            <div class="dashboard-watermark">
                <img src="{{ url_for('static', filename='images/Penn-State-University-Seal-Logo.png') }}" alt="Background Logo">
            </div>


            <div class="dashboard-content">
                <div class="product-grid">
                    {% for b in my_bids %}
                    <div class="product-card">
                        <strong>{{ b[0] }}</strong><br />
                        Seller: {{ b[1] }}<br />
                        Your bid: ${{ "%.2f"|format(b[2]) }}
                    </div>
                    {% else %}
                    <div class="product-card">You haven't placed any bids yet.</div>
                    {% endfor %}
                </div>
                </div>
                <div class="next-page-row">
                    <span>Next Page ➡</span>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
