<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Seller Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="seller-header">
        <h1>Seller Dashboard</h1>

        <div class="seller-header-right">
            <button class="seller-top-btn">Profile</button>
            <img src="{{ url_for('static', filename='images/psu-logo.png') }}" alt="PSU Logo" class="seller-logo">
        </div>
    </div>

    <div class="seller-wrapper">
        <div class="seller-watermark">
            <img src="{{ url_for('static', filename='images/nittanylion.jpg') }}" alt="Watermark">
        </div>

        <form method="post" action="{{ url_for('sell_product_dashboard') }}" class="seller-form-box">
            {% if error %}
                <div class="sidebar-empty">{{ error }}</div>
            {% endif %}

            {% if success %}
                <div class="sidebar-empty">{{ success }}</div>
            {% endif %}

            <!-- form for listing a new product product name is split into auction title and product name 
                bid: reserve price. max bids: max number of bids allowed for this product. category is a drop down menu populated from the database
                
            -->

            <input type="text" name="auction_title" class="seller-input" placeholder="Auction Title...">
            <input type="text" name="product_name" class="seller-input" placeholder="Product Name...">
            <input type="text" name="product_description" class="seller-input" placeholder="Product Description...">
            <input type="number" name="quantity" step="1" min="1" class="seller-input" placeholder="Quantity..." value="1">
            <input type="number" name="reserve_price" class="seller-input" placeholder="Reserve Price...">
            <input type="number" name="max_bids" step="1" min="1" class="seller-input" placeholder="Max Bids...">
            
            <select name="category" class="seller-input">
                <!-- category drop down -->
                <option value="" disabled selected>Select Category...</option>
                {% for c in categories %}
                    <option value="{{ c['category_name'] }}">{{ c['category_name'] }}</option>
                {% endfor %}
            </select>

            <div class="seller-bottom-row">
                <button class="seller-list-btn">List New Product</button>

                <label class="premium-label">
                    <input type="checkbox" class="premium-check">
                    <span>Premium Item</span>
                </label>
            </div>
        </form>
        </div>
    </div>
</body>
</html>
