<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NittanyAuction Seller Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="dashboard-header">
        <h1>NittanyAuction - Home</h1>

        <div class="header-buttons">
            <button class="top-btn" onclick="window.location.href='{{ url_for('sell_product_dashboard') }}'">
                Sell Product
            </button>
            <button class="top-btn"
                    onclick="window.location.href='{{ url_for('update_seller_info') }}'"
            >Profile</button>
            <button class="icon-btn">
                <i class="fa-solid fa-bell"></i>
            </button>
            <img src="{{ url_for('static', filename='images/psu-logo.png') }}" alt="Logo" class="dashboard-logo">
        </div>
    </div>

    <div class="dashboard-wrapper">
        <div class="dashboard-main">
            <div class="dashboard-watermark">
                <img src="{{ url_for('static', filename='images/Penn-State-University-Seal-Logo.png') }}" alt="Background Logo">
            </div>

            <div class="sidebar">
                <div class="sidebar-title">Categories</div>
                <select name="category" class="seller-input">
                    <!-- category drop down -->
                    <option value="" disabled selected>Select Category...</option>
                    {% for c in categories %}
                        <option value="{{ c['category_name'] }}">{{ c['category_name'] }}</option>
                    {% endfor %}
                </select>
            </div>


                <div class="next-page-row">
                    <span>Next Page ➡</span>
                </div>
            </div>
        </div>
    </div>
</body>
</html>