<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NittanyAuction Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="header">
        <h1>NittanyAuction - Dashboard</h1>
    </div>

    <div class="hero">
        <img src="{{ url_for('static', filename='images/nittanylion.jpg') }}" class="bg-img" alt="Nittany Lion">
        <div class="overlay">
        <h1>You have successfully logged in!</h1>
    </div>

    </div>
</body>
</html>